[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=spine_export
X-Python-2-Compatible=false
X-Krita-Manual=README.md
Name=Spine Export
Comment=Export Krita layers as PNG attachments and Spine JSON